Weekly business report agent.json
{
  "name": "Weekly business report agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "135071ca-e6d9-4748-842e-7fb6dce35b20",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JfYtda3vB1wPwV7B3OCpIhTphxyZHvxeyyLLGKStupM",
          "mode": "list",
          "cachedResultName": "Weekly Business Report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JfYtda3vB1wPwV7B3OCpIhTphxyZHvxeyyLLGKStupM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JfYtda3vB1wPwV7B3OCpIhTphxyZHvxeyyLLGKStupM/edit#gid=0"
        },
        "filtersUI": {
          "values": []
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "0da70b94-06c3-4d36-99e6-139e1aeb1467",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZZwHc0Q7y4EVnGjP",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// // Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// return $input.all();\nlet totalSales = 0;\nlet totalProfit = 0;\nlet categorySales = {};\n\nitems.forEach(item => {\n  // Remove $ and convert to number\n  const sales = parseFloat(item.json.Sales.replace('$', '')) || 0;\n  const profit = parseFloat(item.json.Profit.replace('$', '')) || 0;\n  const category = item.json.Category;\n\n  totalSales += sales;\n  totalProfit += profit;\n\n  // Category-wise sales\n  if (!categorySales[category]) {\n    categorySales[category] = 0;\n  }\n  categorySales[category] += sales;\n});\n\nreturn [{\n  json: {\n    totalSales,\n    totalProfit,\n    categorySales\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "8ed36581-6eaf-4a56-936c-eaa5d57b3822",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBhbnx4mSooGHLO5GqyTRPW-0oclMeXQbU"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are a business analyst.\\n\\nGenerate a weekly business report using this data:\\n\\nTotal Sales: {{$json.totalSales}}\\nTotal Profit: {{$json.totalProfit}}\\n\\nRules:\\n- Use current week only (no placeholders)\\n- Do not include fake dates\\n- Do not include [Your Name]\\n\\nMake it clean and realistic.\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "64a9a810-8283-46f3-ab65-b3736db90c92",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31bdbff5-20ac-493f-8a3d-ac81e581c60f",
              "name": "report",
              "value": "={{$json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        0
      ],
      "id": "d691dc22-aa22-4167-a2b3-873f7c1d41b1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "amitdey2302@gmail.com",
        "subject": "Weekly Business Report",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; background: #f4f7fb; padding: 30px;\">\n\n  <div style=\"max-width: 650px; margin: auto; background: #ffffff; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 20px rgba(0,0,0,0.05);\">\n\n    <!-- HEADER -->\n    <div style=\"background: linear-gradient(135deg, #4f46e5, #6366f1); padding: 20px; color: white;\">\n      <h2 style=\"margin: 0;\">📊 Weekly Business Report</h2>\n      <p style=\"margin: 5px 0 0; font-size: 14px;\">AI-powered insights for smarter decisions</p>\n    </div>\n\n    <!-- BODY -->\n    <div style=\"padding: 25px;\">\n\n      <!-- KPI CARDS -->\n      <div style=\"display: flex; gap: 15px; margin-bottom: 25px;\">\n\n        <div style=\"flex: 1; background: #eef2ff; padding: 15px; border-radius: 10px; text-align: center;\">\n          <p style=\"margin: 0; font-size: 12px; color: #555;\">Total Sales</p>\n          <h2 style=\"margin: 5px 0; color: #4338ca;\">$ {{$json.totalSales}}</h2>\n        </div>\n\n        <div style=\"flex: 1; background: #ecfdf5; padding: 15px; border-radius: 10px; text-align: center;\">\n          <p style=\"margin: 0; font-size: 12px; color: #555;\">Total Profit</p>\n          <h2 style=\"margin: 5px 0; color: #059669;\">$ {{$json.totalProfit}}</h2>\n        </div>\n\n      </div>\n\n      <!-- REPORT CONTENT -->\n      <div style=\"background: #f9fafb; padding: 15px; border-radius: 10px;\">\n        <pre style=\"white-space: pre-wrap; font-size: 14px; line-height: 1.6; color: #333;\">{{$json.report}}</pre>\n      </div>\n\n    </div>\n\n    <!-- FOOTER -->\n    <div style=\"padding: 15px; text-align: center; font-size: 12px; color: #999;\">\n      Generated by your AI Business Report Agent 🚀<br>\n      Powered by automation + AI\n    </div>\n\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        0
      ],
      "id": "72d4112a-97da-44c6-87fc-8e0e36a61b87",
      "name": "Send a message",
      "webhookId": "2d7a4a50-83be-4bb3-8787-6124c341f028",
      "credentials": {
        "gmailOAuth2": {
          "id": "sjbbfRsgmJLg7XfZ",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d81464f5-6c19-4b11-a026-f668d6d7db87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "20f98b0eacea3176df43de0201ed2252df949b3c95a9b89a10f5065fbba63842"
  },
  "nodeGroups": [],
  "id": "cAvf0nM2J72sGBk1",
  "tags": []
}